<!DOCTYPE html>
<html>
<head>
  <title>Acceptance tests with Capybara</title>
</head>
<body>
<header>
  <h1>Totally Fake App</h1>
  <a href="/">Homepage</a>
  |
  <a href="/profile">Profile</a>
</header>
<div class="container">
  <%= yield %>
</div>
</body>
</html>